.baniere {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323c6c;
    width: 100%;
    height: 400px;
    border-radius: 5%; 
    transition: ease-out 2s;
}
.light .baniere {
    transition: ease-out 2s;
    background-color: #96a1d7;
}
.ban-title {
 color: aliceblue;
margin-top: 5%;
font-size: 150%;
transition: ease-out 2s;
}

.light .ban-title {
    color: #2c2f33;
    transition: ease-out 2s;
}

.ban-txt {
margin-left: 15%;
color: aliceblue;
font-size: 150%;
transition: ease-out 2s;

}

.light .ban-txt{
    color: #2c2f33;
    transition: ease-out 2s;
}
