

.cardbox1 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
    padding-bottom: 5%;
}

.cardbox2 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
}



.card-title{
    color: aliceblue;
    transition: ease-out 2s;
}
.light .card-title {
    color: black;
    transition: ease-out 2s;
}

.txt {
    color:aliceblue;
    transition: ease-out 2s;
}

.light .txt {
    color: black;
    transition: ease-out 2s;
}

.card-title-p {
    color: aliceblue;
    transition: ease-out 2s;
}

.light .card-title-p {
    color: black;
    transition: ease-out 2s;
}
.my-card {
    display: flex;
   flex-direction: column;
   align-items: center;
    background-color:  #5b5580;
    height: 100%;
    border-radius: 10%;
    padding:4%;
    transition: ease-out 2s;
}

.light .my-card {
    background-color:  #cbc8de;
    transition: ease-out 2s;
}

.my-card:hover {
box-shadow: rgba(12,43, 30, 0.2) 0 20px 30px;
background-color: #7289da;
transition: ease-out 1s;
}
.image-card {
    width: 90%;
    border-radius:10% ;
  justify-content: center;
    
}

.image-carda {
    width:100%;
    border-radius:10% ;
  justify-content: center;
}

.card-paysage {
    display: flex;
   flex-direction:row;
   align-items: flex-start;
    background-color: #5b5580;
    height: 90%;
    border-radius: 5%;
    padding:5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.light .card-paysage{
    background-color:#cbc8de;
    transition: ease-out 2s;
}
.card-paysage:hover {
    box-shadow: rgba(12,43, 30, 0.2) 0 20px 30px;
    background-color: #7289da;
    transition: ease-out 1s;
}
.card-content {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.image-card-p {
    border-radius: 5%;
    margin-right: 5%;
    width: 50%;
}

.txt-p {
    font-size: 100%;
    color: aliceblue;
    transition: ease-out 2s;
}
.light .txt-p {
    color:black;
    transition: ease-out 2s;
}

.card-paysage-jv{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    background-color: #948cc4;
    height: 90%;
    border-radius: 5%;
    padding:5%;
    margin-top: 5%;
    margin-bottom: 5%;
}


